<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="title">Title</label>
    <input #title="ngModel" required ngModel name="title" id="title" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="title.invalid && title.touched">
      Title is required
    </div>
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input #price="ngModel" required ngModel name="price" id="price" type="number" class="form-control">
    </div>
    <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
      Price is required
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select #category="ngModel" required ngModel name="category" id="price" class="form-control">
      <option value=""></option>
      <option *ngFor="let c of categories$ | async" [value]="c.$key">
        {{c.name}}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="category.invalid && category.touched">
      Category is required
    </div>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input #imageUrl="ngModel" required ngModel name="imageUrl" id="imageUrl" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="imageUrl.invalid && imageUrl.touched">
      Image url is required
    </div>
  </div>
  <button class="bt btn-primary">save</button>
</form>